SUPABASE_URL=your_supabase_url_here
SUPABASE_ANON_KEY=your_supabase_anon_key_here
PINATA_JWT=your_pinata_jwt_here
WALLETCONNECT_PROJECT_ID=your_walletconnect_project_id_here
RPC_URL=https://ethereum-sepolia-rpc.publicnode.com
CHAIN_ID=11155111
TRUSTWORK_ADDRESS=0x3D7046882EaD50d7808d51084b843819bCE8202C
MOCKUSDC_ADDRESS=0x3c44dd9F3F9d25acd335383cDcd8Bf487B5c57F8
